*{
    margin:0px;
    padding:0px;
}
#headPart1{
    width:100%;
    display: flex;
    margin: auto;
    justify-content: flex-end;
    align-items: center;
    margin:0px;
    padding:0px;
    /* position: fixed; */
}
#headPart1>a{
    border: 1px solid #525050;
    border-bottom: 0px;
    border-top: 0px;
    border-right: 0px;
    margin:0px 10px;
    /* padding: 10px 10px; */
    text-decoration: none;
    color: #525050;
}
#headPart1>button{
    background-color: transparent;
    border: 1px solid #525050;
    border-top: 0px;
    border-bottom: 0px;
}
#headPart1>button>img:last-child{
    width:30%;
    margin:0px 10px;
    border: 1px solid black;
    border-radius: 50%;
}


#headPart2{
    width:100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 10fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    background-color: #2d2d2d;
    padding:0px;
    position: relative;
}
#headPart2>div{
    /* border: 1px solid white; */
    text-align: center;
    font-size: 20px;
    padding:0px 10px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    height:4em;
    align-items: center;
}
#headPart2>div:nth-child(2):hover,#headPart2>div:nth-child(3):hover{
    background-color:#525050 ;
}
#headPart2>div>img{
    width:80%;
    background-color: white;
    padding:10px;
}
#headPart2>div>input{
    width:90%;
    padding:15px;
    font-size: 18px;
    border-radius: 25px;
}
#headPart2>div:nth-child(5)>img,#headPart2>div:nth-child(6)>img,#headPart2>div:nth-child(7)>img{
    width: 100%;
    background-color:#2d2d2d;
    border-radius: 50%;
}

#asosUserInfoHeading{
    cursor: pointer;
}
#asosUserInfoDispHeading{
    position: absolute;
    right:10%;
    list-style: none;
    width:20%;

}
#asosUserInfoDispHeading>div:first-child{
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
    padding:0px 10px;
}
#asosUserInfoDispHeading>div:first-child>p{
    font-size: 15px;
    padding:5px 0px;
}
#asosUserInfoDispHeading>div:first-child>p:nth-child(1){
    font-weight: bold;
}
#asosUserInfoDispHeading>div:first-child>p:nth-child(2){
    text-decoration: underline;
    color: #706b6b;
}
#asosUserInfoDispHeading>div:last-child{
    background-color: white;
    padding:0px 20px;
}
#asosUserInfoDispHeading>div:last-child>ul{
    list-style: none;
}
#asosUserInfoDispHeading>div:last-child>ul>li{
    padding:10px 0px;
}

#crossUserInfoHeading{
    cursor: pointer;
}


#headPart3{
    width:100%;
    display: grid;
    grid-template-columns: repeat(13,1fr) ;
    /* padding-right: 200px; */
    justify-content: flex-start;
    /* padding:0px 20px; */
    background-color: #525050;
    color: white;
    font-size: 14px;
    /* padding-left: 40px; */
}
#headPart3>div{
    padding:20px;
}
#headPart3>div:nth-child(2),#headPart3>div:nth-child(13){
    background-color: #d01345;
    font-weight: bold;
}
#headPart3>div:hover{
    background-color: white;
    color:black;
}

#container{
    width:100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:15px;
    padding:0px 30px;
}
#container>div:hover{
    cursor: pointer;
}
#container>div>img{
    width:100%;
    margin-top: 30px;
    margin-bottom: 10px;
    
}
#container>div>h2{
    margin-top: 10px;
    color:#5e5c5c
}
#container>div>p{
    margin-top: 10px;
}

#headPart4{
    position:absolute;
    width:90%;
    left:5%;
    right:5%;
    padding:0px;
}


#sortbar{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap:20px;
    background-color: #eeeeee;
    padding:30px;
}
#sortbar>select{
    
    border-left:0px ;
    border-right: 0px;
    background-color: transparent;
    border-color: #c7c1c1;
    padding:15px 5px;
    font-size: large;
    color:#706b6b;
}