* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  #top {
    display: flex;
    width: 57.5%;
    justify-content: space-between;
    align-items: center;
  }
  #top > img {
    width: 23%;
  }
  h1 {
    text-align: center;
  }

  #main {
    margin: auto;
    width: 75%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
  }
  #p1 {
    /* margin: auto; */
    width: 59%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
  }
  #p2 {
    /* margin: auto; */
    width: 39.5%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #c1 {
    width: 100%;
    border: 1px solid black;
  }
  #c2 {
    border: 1px solid black;
    width: 100%;
  }
  #c3 {
    border: 1px solid black;
    width: 100%;
  }

  #c4 {
    border: 1px solid black;
    width: 100%;
  }

  #m1 {
    border: 1px solid black;
    width: 100%;
  }
  #m2 {
    border: 1px solid black;
    width: 100%;
  }
  #m3 {
    border: 1px solid black;
    width: 100%;
  }